.input-field {
    -webkit-appearance: none;
    width: 30%;
    border: 0;
    padding: 1.2rem 1rem;
    height: 4.8rem;
    font-size: 1.6rem;
    font-weight: 500;
    background: rgba($color-signifly-blue, .65);
    border-radius: 0;
    color: $color-signifly-dark-blue;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;

    &:hover {
      background: rgba($color-signifly-blue, .15);
    }

    @include respond(tab-land) { 
      width: 40%;
    }

    @include respond(tab-port) { 
      width: 50%;
    }

    @include respond(phone) { 
      width: 100%;
    }

    &:not(:placeholder-shown)
      + span {
        color: $color-signifly-blue;
        -webkit-transform: translateY(-4rem) scale(.75);
        transform: translateY(-4rem) scale(.75);
    }

      &:focus {
        background-color: none;
        outline: none;
      }

      &:focus + span {
        color: $color-signifly-blue;
        -webkit-transform: translateY(-45rem) scale(.75);
        transform: translateY(-45rem) scale(.75);
      }

      &:focus + .border {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }

  }